{% extends 'base.html.twig' %}
{% block active %}
    <li class=" nav-item"><a href="{{path('backend_index',{'username':username})}}"><i class="ft-home"></i><span class="menu-title" data-i18n="">Acceuil</span></a>
    </li>
    <li class="active" ><a href="{{ path('bk_categories',{'username':username}) }}"><i class="ft-layers"></i><span class="menu-title" data-i18n="">Catégories</span></a>
    </li>
    <li class=" nav-item"><a href="{{ path('bk_produits',{'username':username}) }}"><i class="ft-box"></i><span class="menu-title" data-i18n="">Produits</span></a>
    </li>
    <li class=" nav-item"><a href="{{ path('bk_marques',{'username':username}) }}"><i class="la la-tags"></i><span class="menu-title" data-i18n="">Marques</span></a>
    </li>
    <li class=" nav-item"><a href="{{ path('bk_clients',{'username':username}) }}"><i class="la la-female"></i><span class="menu-title" data-i18n="">Clients</span></a>
    </li>
    <li class=" nav-item"><a href="{{ path('bk_commandes',{'username':username}) }}"><i class="la la-cart-arrow-down"></i><span class="menu-title" data-i18n="">Commandes</span></a>
    </li>
{% endblock %}
{% block dynamique %}
    <section class="textarea-select" >
        <!-- margin top -->
        <div class="row" >
            <div class="col-12 mt-3 mb-1">
            </div>
        </div>

        <div class="row match-height" >
            <div class="col-lg-6 " style="width:800px; margin:0 auto;" >
                <div class="card" >
                    <div class="card-block">
                        <div class="card-body">

                            <h4 class="card-title">Nom du catégorie</h4>
                            <fieldset class="form-group">
                                <!-- cat form widget -->
                                {{ form_start(form) }}
                                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-success" style="margin-left:72%;width: 30%">Ok</button>
                                <a href="{{ path('bk_categories',{'username':username}) }}" type="button" class="btn btn-secondary" style="margin-left:0%;width: 17%">Annuler</a>
                                {{ form_end(form) }}
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Textarea end -->
    </section>
{% endblock %}